asttokens
brotli
bzip2
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
fonttools
importlib-metadata
ipykernel
ipython
jedi
joblib
jupyter_client
jupyter_core
kiwisolver
matplotlib
mlxtend
nest-asyncio
numba
numpy
packaging
pandas
parso
patsy
pexpect
pickleshare
pillow
prompt-toolkit
psutil
ptyprocess
pure_eval
pygments
pyparsing
python-dateutil
pytz
scikit-learn
scipy
seaborn
shap
six
stack_data
statsmodels
tornado
traitlets
typing_extensions
wcwidth
xgboost
lightgbm
alembic
attrs
certifi
charset-normalizer
colorlog
docopt-ng
et-xmlfile
fastjsonschema
ftpretty
goatools
greenlet
idna
jsonschema
mako
markdown-it-py
markupsafe
mdurl
narwhals
nbformat
openpyxl
optuna
plotly
pydot
pymupdf
pyyaml
referencing
requests
rich
rpds-py
sqlalchemy
tqdm
urllib3
xlsxwriter
